################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/csharp/.vs/projecteulernet
/csharp/Problem0002/obj
/csharp/Problem0002/bin
/csharp/problem0001/obj
/csharp/problem0001/bin
/csharp/Problem0003/obj
/csharp/Problem0003/bin
/csharp/Problem0004/bin
/csharp/Problem0004/obj
/csharp/Problem0005/obj
/csharp/Problem0005/bin
/csharp/Problem0006/obj
/csharp/Problem0006/bin
/csharp/Problem0007/obj
/csharp/Problem0007/bin
/csharp/Problem0010/obj
/csharp/Problem0010/bin
/csharp/Problem0009/obj
/csharp/Problem0009/bin
/csharp/Problem0008/obj
/csharp/Problem0008/bin
/csharp/Problem0012/obj
/csharp/Problem0012/bin
/csharp/Problem0011/obj
/csharp/Problem0011/bin
/csharp/Problem0016/obj
/csharp/Problem0016/bin
/csharp/Problem0015/obj
/csharp/Problem0015/bin
/csharp/Problem0014/obj
/csharp/Problem0014/bin
/csharp/Problem0013/obj
/csharp/Problem0013/bin
/csharp/Problem0017/obj
/csharp/Problem0017/bin
/csharp/Problem0018/obj
/csharp/Problem0018/bin
/csharp/Problem0019/obj
/csharp/Problem0019/bin
